/* ------------------------------------ DEFINE FONTS ------------------------------------*/
@font-face
{
font-family: 'RexBold';
src: url('../fonts/RexBold.otf');
}
@font-face
{
font-family: 'RexLight';
src: url('../fonts/RexLight.otf');
}

/* ------------------------------------ INDEX ------------------------------------*/
body{
	margin: 0 0 0 0px;
}


#header{
	height:50px;
	background-color: black;

}

#header img{
	float: left;
	margin-right: 70px;
	margin-left: 70px;
	margin-top: 9px;
}

#header #name{
	font-family: 'RexBold', Helvetica;
	color:white;
	font-size: 48px;
	float: left;
	margin-top:7px;
}

#header #nav{
	text-align: right;
}
#header a{
	font-family: 'RexBold', Helvetica;
	color:white;
	font-size: 18px;
	text-decoration: none;
	margin-right: 18px;
	position:relative;
	top: 28px;
}

#terminal{
	height: 480px;
	background-color:white;
}

#terminal .container{
	margin: 50px 200px 50px 200px;
}
#terminal iframe{
	
	width: 100%;
	height: 420px;
}

#terminal #terminal-frame{
	height:320px;
	width:560px;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left:150px;
	background-color:#fff;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.twitter-share-button{
	float: left;
	text-align: right;
	margin-top: 5px;
}

.fb-like{
	float: left;
	text-align: right;
	margin-top: 5px;
}

#about{
	height:280px;
	background-color: #00a8a3;
}

#about .container{
	margin: 50px 200px 50px 200px;
}

#about h2{
	font-family: 'Andale Mono';
	color: white;
	font-size: 27px;
	padding-top: 25px;
	font-weight: normal;
}

#about p{
	font-family: 'Andale Mono';
	color: white;
	font-size: 18px;
	text-align: justify;
	width:100%;
}

#how_it_works{
	height:500px;	
}

#how_it_works .container{
	margin: 50px 200px 50px 200px;
}
#how_it_works h2{
	font-family: 'Andale Mono';
	font-size: 27px;
	padding-top: 25px;
	font-weight: normal;	
}

#how_it_works img{
	width:100%;
}



#footer{
	height:280px;
	background-color: black;
	font-family: 'Andale Mono';
	color:white;
	text-align: center;
}



#footer .container{
	margin: 0px 200px 0px 200px;
	padding-top: 50px;
}

#footer #contact{
	width: 30%;
	float:left;
	font-size: 16px;
	padding-bottom: 17px;
	padding-top:16px;
}

#footer .border{
	border-left: 1px solid #00a8a3;
	float:left;
	height:150px;
}

#footer #motto{
	width: 30%;
	float: left;
	font-size: 20px;
	
	padding-bottom: 90px;
	padding-top:29px;
	padding-left:15px;
	padding-right:15px;
}

#footer #thanks{
	width: 30%;
	float:left;
	font-size: 16px;
	padding-left:20px;
	padding-top: 16px;
}

#footer a{
	text-decoration: none;
	color:white;
}

